<h1>Course Register Homepage</h1>
<form action="/login" method="post" >
    <p>Department Name: <input type="text" name="deparment[name]" id=""></p>
    <p>Password: <input type="text" name="department[password]" id=""></p>
    <input type="submit" name="" value="Log In">
    <button><a href="/signup">Sign Up</a></button>
</form>
