<header><h1><%= @dep.name %> department</h1></header>

<div>
    <table>
        <tr><th>Attributes</th><th>Total Number</th></tr>
        <tr><td>Courses</td><td><%= @courses.size%></td></tr>
        <tr><td>Students</td><td><%= @students.size%></td></tr>
        <tr><td>Professors</td><td><%= @professors.size%></td></tr>
    </table>
</div>
<main>
    <button><a href="/courses">Course List</a></button>
    <button><a href="/professors">Professor List</a></button>
    <button><a href="/students">Student List</a></button>
    <button><a href="/logout">Log Out</a></button>
</main>