<header><h1>Department Sign Up</h1></header>

<% if flash.has?(:signup_error)%>
    <div><h3 id='error'><%= flash[:signup_error] %></h3></div>
<% end %>

<main>
    <form action="/signup" method="post" >
        <p>Department Name: <input type="text" name="department[name]" id="" required></p>
        <p>Password: <input type="password" name="department[password]" id="" required></p>
        <input type="submit" name="" value="Submit">
        <button><a href="/">Cancel</a></button>
    </form>
</main>